
*

{
	font-family: "Verdana", sans-serif;
	font-size: medium;
}
.form
{
	box-shadow: 0 0 1px 0;
	position: relative;
	margin: 50px auto;
	max-width: 320px;
	padding: 30px;
	text-align: center;
	z-index: 1;
}
.form button,input
{
	border: 0;
	font-size: 14px;
	outline: 0;
	padding: 20px;
	width: 100%;
}
.form button
{
	background: #0e0909;
	color: #5f5d5d;
	cursor: pointer;
    border-radius: 15px;
}
.form button:active
{
	background: #cc0066;
}
.form input
{
	background: #e2e2e2e2;
	box-sizing: border-box;
	margin-bottom: 15px;
    border-radius: 15px;
}
nav{
	color: #2f0dd7d3;
	font-size: large;
}
nav > ul > li {
	display: inline-block;
  	font-size: 14px;
  	padding: 0 15px;
  	position: relative;
}
nav > ul > li > a {
	color: rgb(166, 166, 166);
  	display: block;
  	padding: 20px 0;
  	border-bottom: 3px solid transparent;
    transition: all .3s ease;
}